@inherits LayoutComponentBase

@attribute [Authorize]

<MudThemeProvider  />
<MudDialogProvider FullWidth="true" />
<MudSnackbarProvider />


<PageTitle>CS-Emerios-API-Tracker</PageTitle>

<MudLayout Class="main-body">
    <MudAppBar Elevation="0" Dense="false">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />

        <MudMenu Icon="@Icons.Material.Filled.AccountCircle">
            <ActivatorContent>
                <MudAvatar  Size="Size.Medium">
                    <MudIcon ></MudIcon>
                </MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem OnClick="LogOutAction">Log Out</MudMenuItem>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudDrawer OpenMiniOnHover="true" @bind-Open="@open" Color="Color.Dark" Elevation="1" PreserveOpenState="true">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5">Emerios Tracker</MudText>
        </MudDrawerHeader>
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent>
        <div class="pb-16 pl-4 pr-4 pt-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<style> 
    .main-body{
        background: #F9FAFC;
    }
    
</style>

@code{

    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }

    private async Task LogOutAction()
    {
        //Clean Storage
        // var stateProv = (CustomAuthenticationProvider)_authStateProvider;
        // await stateProv.UpdateAuthenticationState(null);
        StateHasChanged();
    }
}